@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display-swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333; /* Changed text color */
    background: #f9f9f9; /* Changed background color */
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url('background.jpg') no-repeat ;
    background-size: cover;
    background-position: center;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    max-width: 400px;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.container h2 {
    font-size: 30px;
    color: #c40094;
    text-align: center;
    margin-bottom: 20px; /* Added margin-bottom for better spacing */
}

.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #c40094;
    border: 2px solid #c40094;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.container button:hover {
    background: #fff;
    color: #c40094;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #09001d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #333;
    transition: background-color 0.3s ease;
}

.login {
    color: #fff; 
    text-decoration: none;
    
}